body {
  font-size: 20px;
  padding: 50px;
}

input {font-size: 20px;}

.user {
  border: 1px solid #ccc;
  margin: 30px auto;
  padding: 30px;
  width: 300px;
}

#content {
  margin: 0 auto;
  width: 600px;
}
